.additional-products {
  padding-top: 27px;
  padding-bottom: 34px;
}

.additional-products__list {
  @include list-reset;
  margin-bottom: 40px;
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;

  &:first-child {
    border-top: 1px solid #d9d9d9;
  }
}

.additional-products__order-button {
  font-size: 16px;
}

.additional-products__item-title {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 0;
  color: #222222;
}

.additional-products__spec {
  display: flex;
  justify-content: space-between;
  border-collapse: collapse;
  font-family: $secondary-font;
  margin-top: 10px;
}

// .additional-products__volume {}

.additional-products__price {
  text-transform: capitalize;
}

// .additional-products__order-button {}

.additional-products__title {

}

@media (min-width: $tablet-width) {
  .additional-products__title {
    margin-left: -3px;
    margin-bottom: 80px;
  }

  .additional-products__item-title {
    font-size: 20px;
    padding-top: 10px;
  }

  .additional-products {
    overflow: visible;
    padding-top: 66px;
    margin-bottom: 42px;
  }

  .additional-products__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 37px;
    padding-top: 13px;
    padding-bottom: 28px;
  }

  .additional-products__list {
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    margin-bottom: 69px;
  }

  .additional-products__spec {
    flex-basis: 50%;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 12px;
    margin-bottom: 0px;
  }

  .additional-products__order-button {
    flex-basis: 100%;
    margin-top: 17px;
  }

  .additional-products__volume {
    margin-right: 50px;
  }

  .additional-products__item-row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .additional-products__column {
    &--md6 {
      flex-basis: 50%;
    }

    &--md12 {
      flex-basis: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products__item {
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 14px;
    padding-top: 0px;
  }

  .additional-products {
    padding-top: 57px;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  .additional-products__row {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    margin-right: -40px;
  }

  .additional-products__list {
    flex-basis: 75%;
    max-width: 75%;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  .additional-products__title {
    margin-left: -40px;
  }

  .additional-products__order-button {
    flex-basis: 27.5%;
  }

  .additional-products__spec {
    justify-content: space-between;
    padding-top: 20px;
    margin-right: -42px;
  }

  .additional-products__column {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .additional-products__item-row {
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    margin-right: -40px;
    flex-grow: 1;
    align-items: center;
  }

  .additional-products__item-title {
    padding-top: 20px;
  }
}
