body {
  font-weight: 400;
  font-size: 14px;
  font-family: $main-font;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 0;
  background-color: white;

  a {
    text-decoration: none;
  }
}
