html {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: $main-font;
  line-height: 18px;
  color: $gray;
  margin: 0;
  padding: 0;
  background-color: white;

  a {
    text-decoration: none;
  }
}

img {
  width: 100%;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
// @media (min-width: 1300px) {
// }
