.button {
  display: block;
  cursor: pointer;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  transition: 0.3s;
  line-height: 20px;

  &--burger {
    background: url("../img/icon-mobile-menu.svg") no-repeat;
    height: 18px;
    width: 24px;
    padding: 9px 12px;
  }

  &--burger-no-js {
    display: none;
  }

  &--burger-close {
    background: url("../img/icon-close.svg") no-repeat;
  }

  &--green {
    background-color: $color-main;
    color: white;
    text-decoration: none;

    &:hover {
      background: #5eaa2f;
    }
  }

  &--gray {
    background: $gray-light;
    color: $gray;

    &:hover {
      background: #ebebeb;
    }
  }
}


@media (min-width: $tablet-width) {
  .button {
    line-height: 20px;

    &--burger {
      display: none;
    }
  }
}
// @media (min-width: $desktop-width) {
// }
