.button {
  display: block;
  cursor: pointer;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;

  &--burger {
    background: url(../../img/icon-mobile-menu.svg) no-repeat;
    height: 18px;
    width: 24px;
  }

  &--green {
    background-color: #68b738;
    color: white;
    text-decoration: none;
  }

  &--gray {
    background: #f2f2f2;
    color: #444444;

    &:hover {
      background: #ebebeb;
    }
  }
}
