// .contacts {}

.contacts__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  line-height: 21px;
  font-family: "Arial", "Tahoma", sans-serif;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.contacts__subtitle {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  line-height: 20px;
  flex: 0 0 50%;
  margin: 0;
  text-transform: uppercase;
  max-width: 160px;
}

.contacts__address {
  flex: 0 0 50%;
  margin: 0;
  line-height: 21px;
  max-width: 160px;
  width: 100%;
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
}
