.container {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 40px;
    max-width: $desktop-width;
  }
}
