.container {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1299px) {
  .container--mod {
    padding-left: 70px;
    padding-right: 70px;
  }
}
