.example {
  background: $gray-light;
}

.example__title {
  font-family: $main-font;
  font-size: $font-huge;
  font-weight: 400;
  line-height: 1;
  color: $color-font;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 28px;
}

.example__text {
  font-family: $secondary-font;
  margin-bottom: 25px;
  font-weight: 200;
}

.example__blocks {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.example__block {
  max-width: 124px;
  width: 100%;
  padding: 15px 10px 5px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.example__block-inner {
  max-width: 105px;
  padding: 0 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  background: $gray-light;
}

.example__block-title {
  font-size: $font-big;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-font;
  margin: 0;
}

.example__block-subtitle {
  font-size: $font-small;
  line-height: 1;
  margin: 8px 0 0;
  color: $color-font;
  font-family: $secondary-font;
  width: 80px;
}

.example__spendings {
  font-family: $main-font;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 0;
  color: $color-font;
}

// .example__slider {}

.example__img {
  width: 100%;
}

.example__toggle-block {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.example__slider-button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: $font-medium;
  cursor: pointer;
  color: $color-font;
}

// .example__toggle {}

@media (min-width: 320px) {
}
@media (min-width: 768px) {
  .example__title {
    font-family: $main-font;
    font-size: 60px;
  }
  .example__blocks {
    max-width: 365px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
}
