.gift {
  padding: 20px 20px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/gift-photo-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #68b738;
    background-size: cover;
    align-items: center;
    min-height: 290px;
    width: 100%;
    padding: 50px 10px;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;

    svg {
      fill: white;
    }
  }


  &__image {

  }

  &__text {
    max-width: 150px;
    margin: 0;
    line-height: 20px;
    font-family: "Arial", "Tahoma", sans-serif;
  }

}
