.gift {
  // margin-bottom: 16px;
}

.gift__text {
  max-width: 165px;
  margin: 0;
  line-height: 20px;
  font-family: $secondary-font;
  font-size: $font-medium;
}

.gift__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-main;
  background-size: cover;
  align-items: center;
  min-height: 290px;
  width: 100%;
  padding: 65px 10px;
  padding-bottom: 43px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;

  svg {
    fill: white;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .gift__container {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .gift__container {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    flex-direction: row;
    align-items: center;
    padding: 50px 90px;
    min-height: 200px;
    padding-top: 40px;
    padding-right: 75px;
  }

  .gift__text {
    text-align: left;
    margin-right: 45px;
    padding-top: 13px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi), (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .gift__container {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .gift__container {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    flex-direction: column;
    min-height: 290px;
    padding: 42px 10px;
    padding-top: 65px;
  }

  .gift {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .gift__text {
    text-align: center;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) and (min-resolution: 144dpi), (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
  .gift__container {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}
