.main-nav {
  width: 100%;
}

@media (min-width: 768px) {
  .main-nav {
    width: inherit;
    display: flex;
    align-items: center;
    padding-top: 21px;
  }
}

@media (min-width: 1300px) {
  .main-nav {
    padding-top: 0;
  }
}
