.main-nav {
  width: 100%;
  display: none;

  &--open {
    display: initial;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: inherit;
    display: flex;
    align-items: center;
    padding-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 0;
  }
}
