.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.page-footer__contacts {
  margin-bottom: 33px;
  width: 100%;
}

.page-footer__title {
  display: block;
  max-width: 135px;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 28px;

  &:hover {
    opacity: 0.6;
    transition: 0.3s;
  }
}
// .page-footer__page-footer__social {}

.page-footer__wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

.page-footer__copyrights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
}

.page-footer__link {
  display: inline-block;
  font-family: $secondary-font;
  color: $gray;
  font-size: $font-medium;
  padding-bottom: 7px;
}
// .page-footer__logo {}

.page-footer__col {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__row {
  margin-left: -20px;
  margin-right: -20px;
  // display: flex;
  // align-content: center;
  // flex-wrap: wrap;
}

.page-footer__logo {
  margin-right: -5px;
  fill: #666666;

  &:hover {
      fill: #68b738;
      transition: 0.3s;
    }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 30px 0;
  }

  .page-footer__title {
    max-width: 100%;
    margin: 0 auto;
    padding: 35px 0 30px;
  }

  .page-footer__row {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-right: -30px;
  }

  .page-footer__col {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-footer__copyrights {
    width: 100%;
    padding: 20px 20px;
    padding-right: 0;
    justify-content: flex-end;
  }

  .page-footer__link {
    margin-right: 13px;
  }
}

// @media (min-width: $desktop-width) {
// }
