.program-form {
  padding-bottom: 10px;
}

.program-form__row {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
}

.program-form__section-title {
  margin-top: -2px;
  margin-bottom: 32px;
}

.program-form__column {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
}

.program-form__field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.program-form__label {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  flex-shrink: 0;
  margin-right: 15px;
  text-transform: uppercase;
  color: #222222;
}

.program-form__comments {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 14px 13px;
  height: 151px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 28px;
  margin-top: 1px;
  transition: 0.3s;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active, &:focus {
    border: 1px solid #444444;
    outline: none;
  }
}

.program-form__contacts {
  margin-bottom: 17px;
}

.program-form__hint {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Arial", "Tahoma", sans-serif;
}

.program-form__input {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 13px 15px;
  transition: 0.3s;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  line-height: 18px;

  &--icon {
    padding-right: 40px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid #444444;

    &~svg {
      fill: #68b738;
    }
  }

  &:focus {
    outline: 2px solid #444444;
    &~svg {
      fill: #68b738;
    }

    &:invalid {
      outline: 2px solid #ff8282;

      &~svg {
      fill: #ff8282;
    }
    }
  }
}

.form-field__control:active ~ svg, .form-field__control:focus ~ svg {

}


.program-form__check-type {
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #222222;

  &--checkbox {
    &::before {
      content: "";
      width: 12px;
      height: 21px;
      margin-top: -3px;
      left: 9px;
    }
  }

  &--radio {
    &::after {
      border-radius: 50%;
    }

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      background: #68b738;
      margin-top: 0;
      left: 9px;
    }
  }

  &::before {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    width: 12px;
    border-right: 1px solid #68b738;
    border-bottom: 1px solid #68b738;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    transition: 0.3s;
  }

  &:hover {
    &::after {
      border: 1px solid #bfbfbf;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  display: block;
}

.program-form__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: 0.3s;
}

.program-form__description {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 38px;
  margin-top: 0;
  max-width: 270px;
  color: #111111;
  margin-top: -4px;
}

.program-form__select-program {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 15px;
  margin-top: 10px;
  padding-bottom: 12px;
}

.program-form__additional {
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .program-form__additional {
    padding-top: 61px;
  }

  .program-form__additional > .program-form__row {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .program-form__check-type {
    font-size: 20px;
  }

  .program-form__label {
    font-size: 20px;
  }

  .program-form__input {
    font-size: 20px;
  }

  .program-form__column {
    &--x4 {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 23px;
      padding-right: 30px;

      &:nth-child(2n) {
        padding-left: 30px;
      }
    }
  }

  .program-form__hint {
    text-align: left;
    padding-top: 14px;
    margin-top: 0;
  }

  .program-form__submit {
    font-size: 20px;
    line-height: 32px;
    width: auto;
    padding: 14px 28px;
  }

  .program-form__title {
    margin-left: -41px;
    padding-top: 63px;
    margin-bottom: 59px;
  }

  .program-form__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
    max-width: 330px;
  }

  .program-form__select-program {
    border: 1px solid #e6e6e6;
    margin-bottom: 13px;
    height: 100%;
    margin-left: 0;
    margin-top: 56px;
    padding-bottom: 21px;
    padding-top: 21px;
    padding-left: 28px;
    margin-right: -3px;
  }

  .program-form__contacts {
    padding-top: 65px;
    margin-bottom: 53px;
  }

  .program-form__comments {
    font-size: 20px;
    height: 177px;
    margin-bottom: 0;
  }

  .program-form__section-title {
    margin-bottom: 72px;

    &--additional {
      margin-bottom: 55px;
    }
  }

  .program-form__check-type {
    padding-left: 62px;

    &--checkbox {
      &::before {
        left: 13px;
      }
    }

    &--radio {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        left: 11px;
        width: 18px;
        height: 18px;
      }
    }

    &::after {
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-form {
    padding-bottom: 56px;
  }

  .program-form__label {
    margin-right: 22px;
  }

  .program-form__row {
    flex-direction: row;
    margin-left: -40px;
    margin-right: -40px;
  }

  .program-form__icon {
    right: 20px;
  }

  .program-form__column {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
    padding-left: 40px;

    &--x4 {
      flex: 0 0 25%;
      max-width: 25%;

      &:nth-child(2n) {
        padding-left: 40px;
      }
    }
  }

  .program-form__comments {
    padding-left: 20px;
  }

  .program-form__check-type {
    padding-left: 60px;
  }

  .program-form__field {
    padding-top: 2px;
    margin-bottom: 18px;
  }

  .program-form__input {
    padding: 10px 14px;
  }

  .program-form__select-program {
    padding: 25px;
    margin-top: 2px;
    padding-top: 21px;
    padding-left: 26px;
    margin-right: 0;
    padding-bottom: 21px;
    height: inherit;
  }

  .program-form__contacts {
    padding-top: 55px;
  }

  .program-form__title {
    margin-left: 0;
    margin-top: 9px;
  }

  .program-form__submit-container>.program-form__column--x4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .program-form__submit.button {
    margin-top: 10px;
    line-height: 31px;
  }

  .program-form__hint {
    padding-top: 20px;
  }
}
