.promo {
  // background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  // background-size: 100%;
  font-family: $main-font;
  color: white;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 20px;
}

.promo__title {
  font-weight: 400;
  font-size: $font-huge;
  line-height: 1;
  margin-top: 3px;
}

.promo__subtitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.promo__image {
  width: 100%;
}

// .promo__button {}

@media (min-width: $tablet-width) {
  .promo {
    background: none;
    color: black;
    text-align: left;
    padding-top: 60px;
    margin-bottom: 35px;
    padding-left: 88px;
    min-height: 838px;
  }

  .promo__title {
    max-width: 520px;
    margin-bottom: 42px;
    font-size: 60px;
  }

  .promo__subtitle {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 47px;
  }

  .promo__image {
    position: absolute;
    top: 265px;
    z-index: -1;
    width: 705px;
    right: 30px;
    margin: 0 auto;
  }

  .promo__button.button {
    font-size: 20px;
    line-height: 24px;
    width: auto;
    padding: 14px 28px;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 470px;
    padding-left: 80px;
    padding-top: 104px;
    margin-bottom: 191px;

    &::after {
      content: "";
      background: none;
    }
  }

  .promo__image {
    left: 260px;
    top: 26px;
    z-index: 0;
    width: 550px;
  }

  .promo__subtitle {
    margin-bottom: 52px;
  }
}
