.site-list {
  @include list-reset;
  font-size: 20px;
  font-weight: 500;
  font-family: $main-font;
  text-transform: uppercase;
  text-align: center;

  &--no-background {
    a {
      color: black;
    }
  }
}

.site-list__item {
  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 25px;
  margin-left: -25px;
  margin-right: -25px;

  a {
    text-decoration: none;
    color: $color-font;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    display: inline-block;
    vertical-align: middle;
    padding-left: 11px;
    padding-right: 20px;
    border: 0;
    margin: 0;
    position: relative;
    padding-bottom: 10px;

    &--active {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 11px;
        right: 0;
        height: 2px;
        background: #68b738;
        width: calc(100% - 30px);
      }
    }
  }

  .site-list {
    font-size: 18px;
    font-weight: 400;
    margin-right: -20px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    font-size: 20px;
  }

  .site-list__item {
    padding-top: 27px;
    transition: 0.3s;

    &:hover {
      opacity: 0.6;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .site-list--no-background .site-list__item {
    a {
      color: black;
    }
  }

  .site-list__item {
    &--active-white {
      &::after {
        background: white;
      }
    }
  }
}
