.site-list {
  font-size: 20px;
  font-weight: 500;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-list__item {
  border-top: 1px solid #e6e6e6;
  padding-top: 25px;
  padding-bottom: 25px;

  a {
    text-decoration: none;
    color: #111111;
  }
}
