.social {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;

  li {
    margin-left: 14px;
    margin-right: 25px;
  }

  .social__icon {
    fill: #666666;

    &:hover {
      fill: $color-main;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    border-top: 0;
    border-bottom: 0;
    padding-top: 18px;

    li {
      margin-left: 7px;
      margin-right: 21px;
    }
  }

  .social__icon {
    &--vk {
      width: 31px;
      height: 19px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
// @media (min-width: $desktop-width) {
// }
