//font-family
$main-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", "Tahoma", sans-serif;

//font-size
$font-small: 12px;
$font-medium: 16px;
$font-big: 24px;
$font-huge: 36px;

//colors
$color-main:    #68b738;
$color-font:    #111111;

$gray:          #444444;
$gray-light:    #f2f2f2;
